body {
    background-image: url(https://e0.pxfuel.com/wallpapers/163/171/desktop-wallpaper-cr-on-ig-hello-kitty-hello-kitty-iphone-hello-kitty-cute-hello-kitty-laptop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px ;
}

.button-container {
    justify-content: center;
    display: flex;
    margin-top: 85px;
}

.button {
   border: none;
   border-radius: 5px;
   padding: 12px 12px;
   margin: 6px;
   background-color: #fecfe3;
   color: white;
   
}

#timerMessage {
    color: white;
    display: none;
    padding: .5em;
    font-size: 1em;
    text-align: center;
    border-radius: 1em;   
}

.timer-display {
    font-size: 7em;
    font-weight: bold;
    margin-top: 20px;
    color: white;
    margin: center;
}

.timer { /* Delete this later, code does not work */
    display: inline-block;
    padding: 10px;
    width: 600px;
    box-sizing: border-box;
  }